<% 
const metaInfo = {
  title: 'トップページのタイトル',
  description: 'トップページのディスクリプション',
  path: './'
}
const title = 'Hello ejs!!!'
%>

<%- include(metaInfo.path + 'components/_header', {metaInfo: metaInfo} ) %>

<main>
  <h1><%= title %></h1>
  <p>トップページのテキストです</p>
  <a href="/about">Aboutへ</a>
</main>

<%- include(metaInfo.path + 'components/_footer', {metaInfo: metaInfo} ) %>